.navbar{
    height: 50px;
    background-color: var(--color-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer{
    width: 100%;
    max-width: var(--container-width);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-weight: 500;
    font-size: 25px;
}
.navButton{
    margin-left: 20px;
    padding: 5px 10px;
    cursor: pointer;
    color: var(--color-blue);
    
}